
{:paths ["source-code/clj"]
 :deps  {clj-http/clj-http        {:mvn/version "3.12.3"}
         bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "643fbaa8fbc0aff5fb7bcf7a9e0272fdf007f883"}
         bithandshake/cljc-time   {:git/url "https://github.com/bithandshake/cljc-time"
                                   :sha     "554d19a9b2e517a13a8d375cbf4b7df44fe5eed0"}
         buddy/buddy-core         {:mvn/version "1.10.1"}
         org.clojure/clojure      {:mvn/version "1.10.1"}}}
         
