
{:paths ["source-code/clj"]
 :deps  {clj-http/clj-http        {:mvn/version "3.12.3"}
         bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "0e80e8fa4385081b97b7cd6606d2e00b46392b44"}
         bithandshake/cljc-time   {:git/url "https://github.com/bithandshake/cljc-time"
                                   :sha     "e83bff97af09d4ec4f3ce192f899cca6580f7d18"}
         buddy/buddy-core         {:mvn/version "1.10.1"}
         org.clojure/clojure      {:mvn/version "1.10.1"}}}
         
