
{:paths ["source-code/clj"]
 :deps  {clj-http/clj-http        {:mvn/version "3.12.3"}
         bithandshake/cljc-fruits {:git/url "https://github.com/bithandshake/cljc-fruits"
                                   :sha     "568ee3b7bb6b9d39e894c96754e12584d3490985"}
         bithandshake/cljc-time   {:git/url "https://github.com/bithandshake/cljc-time"
                                   :sha     "4f3910cb6eb6d6af2a7a09b67990d259ba10e982"}
         buddy/buddy-core         {:mvn/version "1.10.1"}
         org.clojure/clojure      {:mvn/version "1.10.1"}}}
         
